* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background: rgb(40, 91, 174);
}

.table-container {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: separate;
    border-spacing: 12px;
}

table td {
    border: 2px solid rgb(84, 186, 224);
    background: #4580C4;
    border-radius: 5px;
    width: 85px;
    height: 85px;
    padding: 10px;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    outline: 2px solid transparent;
}

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 218px;
    height: 48px;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    background: #B0C255;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1),0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*стили для select*/
select {
    display: flex;
    flex-direction: column;
    width: 235px;
    border: 1px solid rgb(79, 171, 255);
    border-radius: 30px;
    background: radial-gradient(269.61% 186.59% at 96% 167%, rgb(76, 161, 210), rgb(40, 91, 174) 100%);
    color: #FFFFFF;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto, sans-serif;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}


.label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    order: 1;
    flex-grow: 1;
    font-family: Roboto, sans-serif;
}

.select-style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

option {
    background: rgb(76, 161, 210);
    font-family: Roboto, sans-serif;
}

.scores {
    width: 375px;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 107px;
    padding: 12px 36px 12px 36px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(88, 150, 238, 0.3);
    background: #528CDE;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 36px auto;
    font-family: Roboto, sans-serif;
}

/*finish*/
.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.end-game-card {
    width: 280px;
    height: 498px;
    position: relative;
}

.end-game-card img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.win-img {
    top: 25px;
}

.lose-img {
    top: 31px;
}

.container {
    width: 232px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

h2 {
    margin-top: 137px;
    margin-bottom: 4px;
    color: rgb(54, 118, 188);
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
}

h3 {
    margin-bottom: 24px;
    color: rgb(54, 118, 188);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.end-game-card__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.game-info {
    display: flex;
    justify-content: space-between;
}

.restart-button {
    margin-top: 32px;
    width: 183px;
    height: 48px;
    border-radius: 30px;
    background: rgb(176, 194, 85);
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1),0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game-info__title {
    color: rgb(54, 118, 188);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.game-info__score {
    color: rgb(54, 118, 188);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}


/* Стили для мобильных устройств (ширина экрана до 768px) */
@media only screen and (max-width: 768px) {
    .table-container {
        align-items: center;
    }

    table {
        margin-top: 20px;
        border-spacing: 6px;
    }

    table td {
        width: 70px;
        height: 70px;
        padding: 4px;
    }

    .start-button {
        margin-top: 50px;
        width: 80%;
        max-width: 150px;
        font-size: 12px;
        height: 30px;
        line-height: 18px;
    }


    .scores {
        width: 80%;
        height: 40%;
        gap: 6px;
        padding: 10px 24px 10px 24px;
        font-size: 14px;
        margin: 10px auto;
    }


    select {

        width: 260px;
        font-size: 12px;
    }

    .select-style {
        flex-direction: column;
        margin-top: 5px;
        gap: 5px;
    }

    .label {
        font-size: 14px;
    }

    .hidden {
        display: none;
    }


}